<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='static/css/fullcalendar.css'>
	<link rel='stylesheet' href='static/css/datatables/datatables.css'>
	<link rel='stylesheet' href='static/css/datatables/bootstrap.datatables.css'>
	<link rel='stylesheet' href='static/scss/chosen.css'>
	<link rel='stylesheet' href='static/scss/font-awesome/font-awesome.css'>
	<link rel='stylesheet' href='static/css/app.css?q=456455'>
	<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
	<link rel="stylesheet" href="static/css/firepad-userlist.css" />
    
    <link rel="stylesheet"href="static/css/bootstrap-notify.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>\
	<link href="static/favicon.ico" rel="shortcut icon">
	<link href="static/apple-touch-icon.png" rel="apple-touch-icon">
	<title>Co-oprogramming | A Pair Programming Environment</title>
</head>

<body onload="init()">
	<div class="all-wrapper">
	  <div class="row">
		<div class="col-md-3">
		  <div class="text-center">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>
	
	<div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
		<a href="#" class="logo hidden-sm hidden-xs">
		  <i class="icon-terminal orange"></i>
		  <span><strong>Co-op</strong>rogramming</span>
		</a>
	  <div class="search-box">
		<input type="text" placeholder="SEARCH FOR SESSION" class="form-control">
	  </div>
	  <ul class="side-menu">
		<li>
		  <a href="#" data-toggle="modal" data-target="#createSession">
			<span class="badge badge-notifications pull-right alert-animated"></span>
			<i class="icon-plus"></i> Create Session
		  </a>
		</li>
		<li>
		  <a href="#" data-toggle="modal" data-target="#editSession">
			<span class="badge badge-notifications pull-right alert-animated"></span>
			<i class="icon-pencil"></i> Edit {self} Session
		  </a>
		</li>
		<li>
		  <a href="#">
			<span class="badge badge-notifications pull-right alert-animated">7</span>
			<i class="icon-archive"></i> Archive {self} Session
		  </a>
		</li>
	  </ul>
	  <div class="relative-w">
		<ul class="side-menu">
		  <li class='current'>
			<a class='current' href="{{ url_for('index') }}">
			  <span class="badge pull-right">2</span>
			  <i class="icon-home"></i> Home
			</a>
		  </li>
		  <li>
			<a href="#" class="is-dropdown-menu">
			  <span class="badge pull-right"></span>
			  <i class="icon-random"></i> Resources
			</a>
			<ul>
			  <li>
				<a href="https://facebook.github.io/react/docs/why-react.html">
				  <i class="icon-code"></i>
				  ReactJS Docs
				</a>
			  </li>
			  <li>
				<a href="https://facebook.github.io/react-native">
				  <i class="icon-android"></i>
				  React Native Docs
				</a>
			  </li>
			  <li>
				<a href="https://angularjs.org/">
				  <i class="icon-angle-right"></i>
				  Angular Docs
				</a>
			  </li>
			  <li>
				<a href="https://docs.python.org/3/">
				  <i class="icon-terminal"></i>
				  Python Docs
				</a>
			  </li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
	</div>
	<div class="col-md-9">

		<div class="content-wrapper wood-wrapper">
			<div class="content-inner">
				<div class="page-header">
				  <div class="header-links hidden-xs">
					<a href="notifications.html"><i class="icon-comments"></i> Archived Sessions</a>
					<a href="#"><i class="icon-cog"></i> Settings</a>
					<a href="{{ url_for('logout') }}"><i class="icon-signout"></i> Logout</a>
				  </div>
				  <h1><i class="icon-code"></i> Code Away</h1>
				</div>
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Sessions</li>
				  <button type="button" class="btn btn-primary invite-btn" data-toggle="modal" data-target="#inviteUser">Invite User</button>
				</ol>
				<div class="main-content">{{sessions}}
					<div class="row">
					  <div class="col-md-12">
						<ul class="nav nav-tabs" id="my_sessions">
						  <li class="active"><a href="#session28" data-toggle="tab"><i class="icon-terminal"></i> <span class="session_name_text">New Session</span></a> <button type="button" class="close del-sess" data-dismiss="modal" id="delete_session">&times;</button> </li>
						  
						  
						  {% with cu_sessions = sessions %}
							{% if cu_sessions %}
								   {% for session in cu_sessions %}
									<li class="active"><a href="#session28" data-toggle="tab"><i class="icon-terminal"></i> <span class="session_name_text">{{ session }}</span></a> <button type="button" class="close del-sess" data-dismiss="modal" id="delete_session">&times;</button> </li> 
								   {% endfor %}
							{% endif %}
						{% endwith %}
						  
						  
						  
						  
						</ul>
						<div class="tab-content bottom-margin">
						  <div class="tab-pane active" id="session28">
							<div class="padded clearfix">
								<div id="userlist"></div>
								<div id="firepad"></div>
							</div>
						  </div>
						  
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
	
	</div>
	</div>
	</div>
	
	
	
	
	
	<button type="button" class="chat-button js-trigger">Chat (2)</button>
		
	<nav class="chat">
		<h2 class="chat__users">Users Online: 2</h2>		
		<dl id="messages">
		  {% for key, value in messages.items() %}
			<dt>{{ key }}</dt>
			<dd>{{ value }}</dd>
		  {% endfor %}
		</dl>
		<div class="chat-input-area">
			<input type="text" id="myMessage">
			<button id="chatsendbutton">Send</button>
		</div>
	</nav>
	
	
	
	
	
	<!-- Create Session Modal -->
	<div id="createSession" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header" style="border-bottom: none;">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="form-title form-title-first"><i class="icon-terminal"></i> Create a New Session</h3>
		  </div>
		  <div class="modal-body">
			
				
				<div class="form-group">
				  <label>Session Name</label>
				  <input type="text" name="sess_name" class="form-control" placeholder="Session Name" id="create_sess_name">
				</div>
			  
				<div class="form-group">
				  <label>Session Description</label>
				  <input type="textarea" name="sess_desc" class="form-control" placeholder="Session Description" id="create_sess_desc">
				</div>
				 
				<button class="btn btn-primary" id="create_session">Create</button>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
	
	<!-- Edit Session Modal -->
	<div id="editSession" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header" style="border-bottom: none;">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="form-title form-title-first"><i class="icon-terminal"></i> Edit this Session</h3>
		  </div>
		  <div class="modal-body">
			
				<div class="form-group">
				  <label>Session Name</label>
				  <input type="text" name="sess_name" class="form-control session_name_text" placeholder="Session Name" id="edit_sess_name">
				</div>
			  
				<div class="form-group">
				  <label>Session Description</label>
				  <input type="textarea" name="sess_desc" class="form-control" placeholder="Session Description" id="edit_sess_desc">
				</div>

				<button class="btn btn-primary" id="edit_session">Edit</button>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
	
	<!-- Invite Modal -->
	<div id="inviteUser" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header" style="border-bottom: none;">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="form-title form-title-first"><i class="icon-terminal"></i> Enter an email address</h3>
		  </div>
		  <div class="modal-body">
			
				<div class="form-group">
				  <input type="email" name="email" class="form-control" placeholder="Enter email">
				</div>
				<button class="btn btn-primary" id="invite_user">Invite</button>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
	
	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src='static/js/jquery.sparkline.min.js'></script>
	<script src='static/js/bootstrap/modal.js'></script>
	<script src='static/js/bootstrap/tab.js'></script>
	<script src='static/js/bootstrap/dropdown.js'></script>
	<script src='static/js/bootstrap/collapse.js'></script>
	<script src='static/js/bootstrap/transition.js'></script>
	<script src='static/js/bootstrap/tooltip.js'></script>
	<script src='static/js/jquery.knob.js'></script>
	<script src='static/js/fullcalendar.min.js'></script>
	<script src='static/js/datatables/datatables.min.js'></script>
	<script src='static/js/chosen.jquery.min.js'></script>
	<script src='static/js/datatables/bootstrap.datatables.js'></script>
	<script src='static/js/raphael-min.js'></script>
	<script src='static/js/morris-0.4.3.min.js'></script>
    <script src="static/js/bootstrap-notify.js"></script>
	<script src='static/js/for_pages/color_settings.js'></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src='static/js/application.js?q=42'></script>

	<script src='static/js/for_pages/dashboard.js'></script>
	
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

	<!-- Ace -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>

	<!-- Firepad -->
	
	<script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
	<script src="static/js/firepad-userlist.js"></script>

	<script>
		var ace_session_id = "";
		function init() {
		  // Initialize Firebase.
		  // TODO: replace with your Firebase project configuration.
		  var config = {
			apiKey: '{{ fb_api }}',
			authDomain: '{{ fb_auth_domain }}',
			databaseURL: '{{ fb_db_url }}'
		  };
		  firebase.initializeApp(config);

		  // Get Firebase Database reference.
		  var firepadRef = getExampleRef();
		
		  // Get the localId for current user from Flask.
          var userId = "{{ logged_in_user_id }}";
		
		  // Create Ace editor.
		  var editor = ace.edit('firepad');
		  editor.setTheme("ace/theme/monokai");
		  var session = editor.getSession();
		  session.setUseWrapMode(true);
		  session.setUseWorker(false);
		  session.setMode("ace/mode/python");

		  // Create Firepad.
		  var firepad = Firepad.fromACE(firepadRef, editor, { userId: userId });
		  
		  // Create FirepadUserList (with our desired userId).
		  var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'), document.getElementById('userlist'), userId, '{{logged_in_user_email}}');
			
		  // Initialize contents.
		  firepad.on('ready', function() {
			if (firepad.isHistoryEmpty()) {
			  firepad.setText('# You haven\'t watched a Sci-fi series until you watch Stargate SG-1\n# Stargate Jokes\nprint("Jack: We\'ll cross that bridge when we come it.")\nprint("Bra\'tac: No, the bridge is too well-guarded.")\n');
			}
		  });
		}
		
		// Helper to get hash from end of URL or generate a random one.
		function getExampleRef() {
		  var ref = firebase.database().ref();
		  var hash = window.location.hash.replace(/#/g, '');
		  if (hash) {
			ref = ref.child(hash);
			$.getJSON($SCRIPT_ROOT + '/_get_session_id', {
				id: hash
			}, function(data) {
				$(".session_name_text").text(data.sess_name);
				$(".session_name_text").val(data.sess_name);
				console.log(data.sess_name);
			});
			ace_session_id = hash;
		  } else {
			ref = ref.push(); // generate unique location.
			ref.update({session_name: "Default", invites: [0] });
			window.location = window.location + '#' + ref.key; // add it as a hash to the URL.
		  }
		  if (typeof console !== 'undefined') {
			console.log('Firebase data: ', ref.toString());
		  }
		  return ref;
		}
		
		var socket = io.connect('http://' + document.domain + ':' + location.port);
		socket.on('connect', function() {
			socket.emit('my event', {data: 'I\'m connected!'});
			socket.send('User has connected!');
		});
		socket.on('message', function(msg) {
			$('#messages').append('<li>' + msg + '</li>');
			console.log('message received');
		});
		$('#chatsendbutton').on('click', function() {
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
		})
		
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		
		
$('#create_session').bind('click', function() {
	if (!$('#create_sess_name').val()) {
		alert("Name is required!");
	}
	else {
		$.getJSON($SCRIPT_ROOT + '/_create_new_session', {name: $('#create_sess_name').val()}, function(data) {});
		window.location = $SCRIPT_ROOT;
	}
	$.getJSON($SCRIPT_ROOT + '/_my_sessions', {sess_id: ace_session_id}, function(data) {
		var elements = $();
		window.location = $SCRIPT_ROOT;
		$.each(data, function(key, value) {
			value.forEach(function(item) {
				var session_url = '<li><a href="'+ $SCRIPT_ROOT + '/sessions/' + item.id + '">' + item.session_name + '</a></li>'
				elements = elements.add(session_url);
			});
		});
		$('#my_sessions').empty();
		$('#my_sessions').append(elements);
	});
	return false;
});

$('#edit_session').bind('click', function() {
	if (!$('#edit_sess_name').val()) {
		alert("No name provided!");
	}
	else {
		$.getJSON($SCRIPT_ROOT + '/_edit_session', {name: $('#edit_sess_name').val(), desc: $('#edit_sess_desc').val(), sess_id: ace_session_id
		}, function(data) {});
	}
	$.getJSON($SCRIPT_ROOT + '/_my_sessions', {sess_id: ace_session_id}, function(data) {
		var elements = $();
		window.location = $SCRIPT_ROOT;
		$.each(data, function(key, value) {
			value.forEach(function(item) {
				var session_url = '<li><a href="'+ $SCRIPT_ROOT + '/sessions/' + item.id + '">' + item.name + '</a></li>'
				elements = elements.add(session_url);
			});
		});
		$('#my_sessions').empty();
		$('#my_sessions').append(elements);
	});
	return false;
});

$('#delete_session').bind('click', function() {
	if (confirm('This cannot be undone. Are you sure you want to delete the session?')) {
		$.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + '/_delete_session',
            dataType: 'json',
            success: function({sess_id: ace_session_id}){
                
				window.location.replace($SCRIPT_ROOT);
            }
        });
	}
	window.location = $SCRIPT_ROOT;
});

$.getJSON($SCRIPT_ROOT + '/_my_sessions', {sess_id: ace_session_id}, function(data) {
	var elements = $();
	window.location = $SCRIPT_ROOT;
	$.each(data, function(key, value) {
		value.forEach(function(item) {
			var session_url = '<li><a href="'+ $SCRIPT_ROOT + '/sessions/' + item.id + '">' + item.session_name + '</a></li>'
			elements = elements.add(session_url);
		});
	});
	$('#my_sessions').empty();
	$('#my_sessions').append(elements);
});
	</script>
</body>

</html>